nav {
    background-color: #666;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    transition: all 0.3 ease-in-out;
}


nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    position: relative;
    padding: 18px 25px;
    margin: 0px 2px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    color: #fff;

}


nav ul li a::after {
    content: "";
    position: absolute;
    background: burlywood;
    height: 3px;
    width: 0%;
    bottom: -1px;
    transition: all 0.3s ease-in;
}

nav ul li a:hover:after {
    width: 100%;
}


nav ul li ul {
    position: absolute;
    left: 0;
    display: none;
    width: 200px;
}

nav ul li ul li {
    background-color: #666;
    position: relative;
    /* padding: 0px 6px; */
    /* background-color: #ccc; */
    display: block;
    width: 100%;
}


nav ul li ul li a {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 15px;
    margin: 2px;
    /* border-bottom: 1px solid #000; */
    display: block;
    width: 100%;
}

nav ul li ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    margin-left: 15px;
    background: burlywood;
    height: 3px;
    width: 0%;
    transition: all 0.3s ease-in;
}



nav ul li ul li a:hover:after {
    width: 90%;
}


nav ul li ul li a:hover {
    /* background-color: #999;     */

}

nav ul li:focus-within>ul,
nav ul li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}

nav label {
    cursor: pointer;
    display: none;
}

@media only screen and (max-width:921px) {
    nav ul li a {
        padding: 18px;
    }
}



@media only screen and (max-width:821px) {
    nav {
        background-color: #666;
        border-bottom: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 999;
        transition: all 0.3 ease-in-out;
        padding: 10px 20px;
    }


    nav ul {
        position: absolute;
        left: 0;
        top: 101px;
        right: 0;
        background-color: #666;
        border-top: 1px solid #ccc;
        /* display: block; */
        /* justify-content: flex-start; */
        /* align-items: center; */
        /* padding: 4px; */
    }

    nav ul li {
        position: relative;
        width: 90%;
    }

    nav ul li a {
        position: relative;
        padding: 18px 25px;
        margin: 0px;
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 4px;
        color: #fff;
    }

    nav ul li a::after {
        content: "";
        position: absolute;
        background: burlywood;
        height: 3px;
        width: 0%;
        bottom: 6px;
        transition: all 0.3s ease-in;
    }

    nav ul li a:hover:after {
        width: 30%;
    }



    nav ul li ul {
        position: relative;
        left: 20px;
        /* line-height: 10px; */
        top: 0;
        /* display: none; */
        width: 100%;
        border: none;
    }

    nav ul li ul li {
        background-color: #888;
        position: relative;
        line-height: 18px;
        /* padding: 0px 6px; */
        /* background-color: #ccc; */
        display: block;
        width: 100%;
    }


    nav ul li ul li a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 12px 15px;
        margin: 0px;
        border-bottom: 1px solid #fff;
        display: block;
        width: 100%;
    }


    nav ul li ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 6px;
        margin-left: 15px;
        background: burlywood;
        height: 3px;
        width: 0%;
        transition: all 0.3s ease-in;
    }

    nav ul li ul li a:hover:after {
        width: 90%;
    }

    nav label {
        cursor: pointer;
        display: initial;
    }

    #menu-bar:checked~nav ul {
        display: block;
    }

}